<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\ImportExport\Model\Import">
        <plugin name="targetRuleImportInvalidate" type="Magento\TargetRule\Model\Indexer\TargetRule\Plugin\Import" disabled="false" />
    </type>
    <type name="Magento\Eav\Model\Entity\AbstractEntity">
        <plugin name="clean_cache" type="Magento\Framework\App\Cache\FlushCacheByTags" disabled="false" />
    </type>
    <type name="Magento\Catalog\Model\Indexer\Category\Product\Action\Full">
        <plugin name="invalidate_pagecache_after_full_reindex" type="Magento\Catalog\Plugin\Model\Indexer\Category\Product\Execute" disabled="false" />
    </type>
    <type name="Magento\ImportExport\Model\Import">
        <plugin name="catalogPermissionImport" type="Magento\CatalogPermissions\Model\Indexer\Plugin\Import" disabled="false" />
    </type>

</config>
