<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Eav\Model\Entity\Attribute\Set">
        <plugin name="invalidateEavIndexerOnAttributeSetSave" type="Magento\Catalog\Model\Indexer\Product\Eav\Plugin\AttributeSet" disabled="false" />
    </type>
    <type name="Magento\Eav\Model\Entity\AbstractEntity">
        <plugin name="clean_cache" type="Magento\Framework\App\Cache\FlushCacheByTags" disabled="false" />
    </type>
    <type name="Magento\Config\Model\Config">
        <plugin name="configPermissionChange" type="Magento\CatalogPermissions\Model\Indexer\Plugin\ConfigData" disabled="false" />
    </type>
    <!--
    <type name="Magento\Framework\Mail\TransportInterface">  
      <plugin name="WindowsSmtpConfig" type="Magento\Email\Model\Plugin\WindowsSmtpConfig" disabled="false" />
      <plugin name="EmailDisable" type="Magento\Email\Model\Mail\TransportInterfacePlugin" disabled="false" />
    </type>
    -->
  </config>
